### PERSONAL STUFF!!!
..plans
.vscode

### Installation-specific files (created at runtime, dont need them in source)
.git
.temp
.logs
.saves
.screenshots

### Metadata an application stuff (not needed for source, only for releases)
clangen.rc
clangen.res
clangen.ico
clangen.exe