### PERSONAL STUFF!!!
.vscode/**
plans

### Metadata + exec stuff (not needed for source, only for releases)
main.rc
main.res
main.ico
main.exe

### Installation-specific files (created at runtime, dont need them in source)
.temp
logs
saves
saved_images